<!DOCTYPE html>
<html>

<header title="about">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
    <link rel="icon" href="img/icon.png"> 

</header>

<body>
    <div class="main-content">
        {{>header}}
        <img class = "aboutPix"src="/img/muhil.jpeg">
    </div>
    
    {{>footer}}

</body>
</html>