<!DOCTYPE html>
<html>
<header>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Help</title>
    <link rel="icon" href="img/icon.png"> 
</header>

<body>

    <div class="main-content">
        {{>header}}
        <p>{{mesg}}</p>
    </div>
    
    {{>footer}}
</body>
</html>